# Kkbox Exploratory Data Analysis

I will first summarize each data file and then merge them in features.ipynb

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import time

import os
import os.path as path
import csv
from multiprocessing import Pool, cpu_count

In [4]:
transactions = pd.read_csv('data/transactions.csv')
train = pd.read_csv('data/train.csv')

In [12]:
print('Number of ppl who churn:     %f' % np.mean(train.is_churn))

Number of ppl who churn:     0.063923

In [6]:
index = set(transaction['msno'])
print('Transaction Shape:      %s' % str(transaction.shape))
print('# Unique Users:         %d' % len(index))

Transaction Shape:      (21547746, 11)
# Unique Users:         2363626

In [3]:
transaction.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0

In [95]:
transaction[transaction['msno'] == transaction.msno[100]].sort_values('transaction_date').head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,start,end
5385571,lF0lx58JJRNAU7yIb8p7gQGkpHVxuZgGoBpeucDSpxo=,39,31,149,149,1,20150131,20150319,0,201501,201503
100,lF0lx58JJRNAU7yIb8p7gQGkpHVxuZgGoBpeucDSpxo=,39,31,149,149,1,20150228,20150419,0,201502,201504
6502405,lF0lx58JJRNAU7yIb8p7gQGkpHVxuZgGoBpeucDSpxo=,39,31,149,149,1,20150331,20150519,0,201503,201505
9947404,lF0lx58JJRNAU7yIb8p7gQGkpHVxuZgGoBpeucDSpxo=,39,0,0,149,1,20150430,20150619,0,201504,201506
15237221,lF0lx58JJRNAU7yIb8p7gQGkpHVxuZgGoBpeucDSpxo=,39,30,149,149,1,20150531,20150719,0,201505,201507

### Recency Months

We are going to look at each transaction one by one and finding months that the user is subscribed, dropped or maintained the subscription.

In [3]:
transaction = transaction.sort_values('transaction_date')
transaction['start'] = [int(i/100) for i in transaction['transaction_date']]
transaction['end'] = [int(i/100) for i in transaction['membership_expire_date']]

In [4]:
unique_months = list(set([int(i/100) for i in transaction.transaction_date]))
unique_months = sorted(unique_months)

In [7]:
recency = pd.DataFrame(-1, index = list(index), columns = unique_months)

In [29]:
recency.to_csv('data/recency.csv')

In [27]:
past = time.time()
i = 0
for index, row in transaction2.iterrows():
    user = row['msno']
    start = row['start']
    end = row['end']
    if row['is_cancel'] == 0:
        recency.loc[user, start:end] = 0
        recency.loc[user, start] = 1
    elif row['is_cancel'] == 1:
        recency.loc[user, start:] = -1
    if i % 100000 == 0:
        print('Iteration %d , Elapsed     %f' % (i, time.time() - past))
    i += 1

Iteration 0 , Elapsed     8.805916
Iteration 100000 , Elapsed     49.555628
Iteration 200000 , Elapsed     87.346699
Iteration 300000 , Elapsed     126.438249
Iteration 400000 , Elapsed     168.584058
Iteration 500000 , Elapsed     206.922030
Iteration 600000 , Elapsed     244.903732
Iteration 700000 , Elapsed     290.079084
Iteration 800000 , Elapsed     337.509858
Iteration 900000 , Elapsed     396.107013
Iteration 1000000 , Elapsed     448.151237
Iteration 1100000 , Elapsed     497.767064
Iteration 1200000 , Elapsed     549.759063
Iteration 1300000 , Elapsed     598.341953
Iteration 1400000 , Elapsed     647.279583
Iteration 1500000 , Elapsed     690.439991
Iteration 1600000 , Elapsed     730.743028
Iteration 1700000 , Elapsed     769.963148
Iteration 1800000 , Elapsed     809.542444
Iteration 1900000 , Elapsed     848.628345
Iteration 2000000 , Elapsed     887.795683
Iteration 2100000 , Elapsed     927.175555
Iteration 2200000 , Elapsed     966.602482
Iteration 2300000 , Elapsed     1006.374534
Iteration 2400000 , Elapsed     1045.883271
Iteration 2500000 , Elapsed     1130.318351
Iteration 2600000 , Elapsed     1211.583877
Iteration 2700000 , Elapsed     1284.010243
Iteration 2800000 , Elapsed     1352.970282
Iteration 2900000 , Elapsed     1424.692677
Iteration 3000000 , Elapsed     1493.374105
Iteration 3100000 , Elapsed     1563.094151
Iteration 3200000 , Elapsed     1632.739660
Iteration 3300000 , Elapsed     1705.973377
Iteration 3400000 , Elapsed     1778.987780
Iteration 3500000 , Elapsed     1850.478244
Iteration 3600000 , Elapsed     1923.255042
Iteration 3700000 , Elapsed     1996.180897
Iteration 3800000 , Elapsed     2068.182018
Iteration 3900000 , Elapsed     2140.147671
Iteration 4000000 , Elapsed     2211.082899
Iteration 4100000 , Elapsed     2279.323009
Iteration 4200000 , Elapsed     2347.018663
Iteration 4300000 , Elapsed     2416.105994
Iteration 4400000 , Elapsed     2487.316634
Iteration 4500000 , Elapsed     2559.729883
Iteration 4600000 , Elapsed     2636.854672
Iteration 4700000 , Elapsed     2711.365646
Iteration 4800000 , Elapsed     2786.925275
Iteration 4900000 , Elapsed     2863.580128
Iteration 5000000 , Elapsed     2938.958625
Iteration 5100000 , Elapsed     3015.130892
Iteration 5200000 , Elapsed     3092.187881
Iteration 5300000 , Elapsed     3158.688624
Iteration 5400000 , Elapsed     3225.709131
Iteration 5500000 , Elapsed     3292.299737

In [42]:
print('Time frame: %d --- %d' % (min(transaction.transaction_date), max(transaction.transaction_date)))

Time frame: 20150101 --- 20170228

# Transaction Summary

In [5]:
total_sub_days = transactions.groupby(['msno']).payment_plan_days.sum()
start_sub = transactions.groupby(['msno']).transaction_date.min()
end_sub = transactions.groupby(['msno']).membership_expire_date.max()
num_canceled = transactions.groupby(['msno']).is_cancel.sum()
num_auto_renew = transactions.groupby(['msno']).is_auto_renew.sum()
num_transactions = transactions.groupby(['msno']).size()

transaction_sum = pd.concat([total_sub_days, start_sub, end_sub, num_canceled, num_auto_renew, num_transactions], axis = 1)
transaction_sum.to_csv('data/transaction_sum.csv')
save_dir = path.join(os.getcwd(), 'data', 'transaction_sum.csv')
transaction_sum.to_csv(save_dir, index =  False)
print('Saved to: %s' % save_dir)